*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  text-align: center;
  margin: auto;
}

canvas {
  border: 1px dotted;
}

main div {
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-style: italic;
}

select,
option {
  font-size: 25px;
}
